*{
    margin: 0;
    padding: 0;
}

:root{
    --green-800: #2E7D32;
    --green-200: #80CBC4;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.border{
    background-color: var(--green-200);
    border: 4px solid var(--green-800);
    padding: 1rem;
    border-radius: 3em;
}

h1{
    text-align: center;
    color: var(--green-800) ;
}